autopep8==2.0.2
cfgv==3.3.1
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.6
filelock==3.10.7
fonttools==4.39.4
graphviz==0.20.1
identify==2.5.22
kiwisolver==1.4.4
matplotlib==3.7.1
nodeenv==1.7.0
numpy==1.24.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
platformdirs==3.2.0
ply==3.11
pre-commit==3.2.1
pycodestyle==2.10.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
six==1.16.0
tomli==2.0.1
tzdata==2023.3
virtualenv==20.21.0
